<div id="footer">
  <p class="contact">© 2024 Tatiana Bertazoli</p>
  <div>
    <a href="https://www.linkedin.com/in/tbertazoli/" class="contact"
      >LinkedIn</a
    >
    <a href="mailto:tatianabertazoli@gmail.com" class="contact">Email</a>
  </div>
</div>
